<style>
    #map-canvas {
        width: 100%;
        height: 350px;
    }
    
    .adminFormLabel {
        margin-left: 10px;
    }
    
    .hoursTopOffset {
        margin-top: 6px;
    }
    
    #parkingFeeSelection {
        display: none;
        margin-top: 10px;
    }
    
    .withMarginBottom {
        margin-bottom: 20px;
    }
    
    img.parkingImage {
        max-width: 100%;
        width: 244px;
    }
</style>

<form action="<%= formAction %>" method="POST" enctype="multipart/form-data" data-toggle="validator">

    <input type="hidden" value="true" name="redirect" />
    <input type="hidden" id="parkingLat" value="<%= parking.location.lat %>" name="lat" />
    <input type="hidden" value="<%= parking.id %>" name="parkingId" />
    <input type="hidden" id="parkingLng" value="<%= parking.location.lng %>" name="lng" />
    <input type="hidden" name="existingImage" value="<%= parking.image %>" />
 
    <div class="row">
        <div class="col-md-12 col-md-offset-0 col-lg-6 col-lg-offset-3">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Visibility</h3>
                </div>
           
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="help-block">Publish or unpublish parking</p>
                        </div>
                    </div>

                    <div class="form-group">      
                        <div>
                            <input type="radio" required name="published" id="radioPublished" class="minimal" value="true" <% if(parking.published) { %> checked <% } %>>
                            <label class="adminFormLabel" for="radioPublished">Published (Parking is visible in app)</label>
                        </div>
                        <div>
                            <input type="radio" required name="published" id="radioUnpublished" class="minimal" value="false" <% if(!parking.published) { %> checked <% } %>>
                            <label class="adminFormLabel" for="radioUnpublished">Hidden (Parking will not be visible in the app)</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Parking unique ID</h3>
                </div>
           
                <div class="box-body">
                     <div class="row">
                        <div class="col-md-8">
                            <p class="help-block">Enter unique hash for a specific parking</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Parking unique ID (hash)</label>
                        <input type="text" value="<%= parking.hash %>" name="hash" class="form-control" id="exampleInputEmail1" placeholder="Enter hash unique code">
                    </div>
                </div>

            </div>

            <!-- PARKING GENERAL INFO -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">General parking information</h3>
                </div>

                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Parking name</label>
                        <input type="text" value="<%= parking.name %>" name="name" required class="form-control" id="exampleInputEmail1" placeholder="Enter the name of the parking place">
                    </div>

                    

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="addressInput">Address</label>
                                <input type="text" name="address" value="<%= parking.address.addressName %>" required class="form-control parkingAddressInput" id="addressInput" placeholder="Enter address">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zipInput">Zip</label>
                                <input type="text" name="zip" value="<%= parking.address.zip %>" required class="form-control parkingAddressInput" id="zipInput" placeholder="Enter zip code">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cityInput">City</label>
                                <input type="text" name="city" value="<%= parking.address.city %>" required class="form-control parkingAddressInput" id="cityInput" placeholder="Enter city">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Phone</label>
                                <input type="text" name="phone" value="<%= parking.phone %>" class="form-control" id="exampleInputPassword1" placeholder="Enter phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Website</label>
                                <input type="text" name="website" value="<%= parking.webSite %>" class="form-control" id="exampleInputPassword1" placeholder="Enter website">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputFile">Image</label>

                        <% if(edit) { %>
                            <p class="text-yellow">Adding new image will override existing one</p>
                            <% } %>
                                <input type="file" name="parking_image" id="exampleInputFile" accept="image/*">

                                <p class="help-block">Choose parking images (image must be at least 1280px x 800px size)</p>


                                <% if(edit && parking.image) { %>
                                    <br />
                                    <p>Existing image:</p>
                                    <img class="parkingImage" src="/img/content/<%= parking.image %>">
                                    <% } %>
                    </div>

                </div>
                <!-- /.box-body -->

                <!--<div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>-->

            </div>


            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Parking map location</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="help-block">Move red marker on map to choose parking location</p>
                        </div>
                    </div>
                    <div id="map-canvas"></div>
                </div>
            </div>

            <!-- PARKING TYPE -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Parking type</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Category</label>
                                <select required name="category" class="form-control">
                                    <option value="-1" <% if(parking.parking_category.id == -1) { %> selected <% } %>>No category</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>" <% if(parking.parking_category.id == category.id) { %> selected <% } %>><%= category.category %></option>
                                <%})%>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Type</label>
                                <select required name="type" class="form-control">
                                    <option value="-1" <% if(parking.parking_type.id == -1) { %> selected <% } %>>No type defined</option>
                                <% types.forEach(type => { %>
                                    <option value="<%= type.id %>" <% if(parking.parking_type.id == type.id) { %> selected <% } %>><%= type.type %></option>
                                <%})%>
                            </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Available parkings</label>
                                <input type="number" name="availableParkings" value="<%= parking.parking_occupancy.capacity %>" class="form-control" id="exampleInputPassword1" placeholder="Insert number of available parking slots">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-12 col-md-offset-0 col-lg-6 col-lg-offset-3">
            <!-- PARKING FEE -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Parking fee</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">

                    <div class="withMarginBottom">
                        <input name="freeParking" id="freeFee" class="minimal" type="checkbox" <% if(parking.fee_type.id == 1) { %> checked <% } %> />
                        <label for="freeFee" class="adminFormLabel">This parking is free</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Fee (€/h)</label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input name="feePerHour" name="fee" value="<%= parking.fee %>" id="inputFeePerHour" type="text" class="form-control" placeholder="Insert fee per hour" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <input type="checkbox" class="minimal" id="feeVaryByDay" name="parkingFeeVaryByDay" <% if(parking.fee_type.id == 3) { %> checked <% } %> />
                        <label for="feeVaryByDay" class="adminFormLabel"> Parking fees vary by day and/or hour
                    </label>
                    </div>

                    <script id="template_parkingFee" type="x-tmpl-mustache">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="hoursTopOffset">
                                    <input type="checkbox" {{#selected}} checked{{/selected}} name="parkingFeeDay_{{dayIndex}}" id="{{day}}_parking" class="minimal daySelection" />
                                    <label for="{{day}}_parking" class="adminFormLabel">{{ day }}</label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">

                                        <div class="input-group">
                                            <input type="text" name="parkingFeeDay_{{dayIndex}}_start" disabled class="form-control timepicker" value="{{start}}">

                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">

                                        <div class="input-group">
                                            <input type="text" name="parkingFeeDay_{{dayIndex}}_end" disabled class="form-control timepicker" value="{{end}}">

                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="parkingFeeDay_{{dayIndex}}_fee" disabled class="form-control" value="{{fee}}"/>
                            </div>
                            <div class="col-md-1">
                                <label class="hoursTopOffset pull-left">
                                    €/h
                                </label>
                            </div>
                        </div>
                    </script>

                    <div id="parkingFeeSelection"></div>


                </div>
            </div>


            <!-- WORKING HOURS -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Working hours</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">

                    <div class="form-group">
                        <% workingTypes.forEach(function(workingType, index) { %>
                            <div>
                                <% if(index == 0){ %>
                                    <input type="radio" <% if(parking.working_type.id == workingType.id) { %> checked <% } %>  required id="radio<%= index %>" name="openParkingType" class="minimal" checked value="<%= workingType.id %>">
                                    <% } else { %>
                                        <input type="radio" <% if(parking.working_type.id == workingType.id) { %> checked <% } %> required id="radio<%= index %>" name="openParkingType" class="minimal" value="<%= workingType.id %>">
                                        <% } %>
                                            <label class="adminFormLabel" for="radio<%= index %>"><%= workingType.type %></label>
                            </div>
                            <% }); %>

                    </div>

                    <script id="template_workingHours" type="x-tmpl-mustache">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="hoursTopOffset">
                                    <input type="checkbox" {{#selected}} checked{{/selected}} name="workingHoursDay_{{dayIndex}}" id="{{day}}_hours" class="minimal daySelection" />
                                    <label for="{{day}}_hours" class="adminFormLabel">{{ day }}</label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">

                                        <div class="input-group">
                                            <input type="text" name="workingHoursDay_{{dayIndex}}_start" disabled class="form-control timepicker" value="{{start}}">

                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">

                                        <div class="input-group">
                                            <input type="text" name="workingHoursDay_{{dayIndex}}_end" disabled class="form-control timepicker" value="{{end}}">

                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="hoursTopOffset">
                                    <input type="checkbox" {{#allDay}} checked{{/allDay}} class="minimal alwayOpenSelection" data-parent-name="workingHoursDay_{{dayIndex}}" name="workingHoursDay_{{dayIndex}}_alwaysOpen" disabled id="{{day}}_always_open" />
                                    <label for="{{day}}_always_open" class="adminFormLabel">Open 24 hours</label>
                                </div>
                            </div>
                        </div>
                    </script>

                    <div id="workingHoursSelection"></div>

                </div>
            </div>


            <!-- PROVIDER -->
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Provider</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="help-block">Choose parking data provider. Provider is a company, usually a parking equipmnt manufacturer, that provides and feeds necessary data.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Provider</label>
                        <select required class="form-control" name="provider">
                        <option value="" disabled <% if(selectedProvider == -1) { %> selected <% } %>>Choose existing provider</option>
                        <% providers.forEach(provier => { %>
                            <option value="<%= provier.id %>" <% if(selectedProvider == provier.id) { %> selected <% } %>><%= provier.name %></option>
                        <%})%>
                    </select>
                    </div>

                    <!--<a href="/provider/add" target="_blank" class="btn btn-md btn-primary btn-flat pull-left">Add new provider</a>-->
                </div>
            </div>

            <!-- MANAGER -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Administrator / Manager</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="help-block">Enter parking administrator / manager. Administator is a company that manages car parks. One copany can manage more car parks.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Administrator / Manager</label>
                        <select required class="form-control" name="manager">
                        <option value="" disabled <% if(selectedManager == -1) { %> selected <% } %>>Choose existing administrator / manager</option>
                        <% managers.forEach(manager => { %>
                            <option value="<%= manager.id %>" <% if(selectedManager == manager.id) { %> selected <% } %>><%= manager.name %></option>
                        <%})%>
                    </select>
                    </div>

                    <!--<a href="/parking/manager/add" target="_blank" class="btn btn-md btn-primary btn-flat pull-left">Add new administrator</a>-->
                </div>
            </div>

            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"> <% if(!edit) { %> Create new parking <% } else { %> Update existing data <% } %></h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="help-block">Click on below button will save changes you made.</p>
                        </div>
                    </div>

                      <button type="submit" class="btn btn-success">
                        <% if(edit) { %> Edit parking <% } else { %> Create parking <% } %>
                        </button>
                </div>
            </div>
        </div>
    </div>


</form>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAZAmcAH2gJYLTWOTppybeWspFBeCXJI1o"></script>
<script src="/js/validator.min.js"></script>
<script>
    var parkingWorkingHours = '<%- JSON.stringify(parking.working_hours) %>';
    var parkingFeesByDay = '<%- JSON.stringify(parking.parking_fee_by_days) %>';
</script>
<script src="/js/parking_add.js"></script>
<script src="/js/parking_add_map.js"></script>
<script src="/js/parking_add_day_selection.js"></script>
<script src="/js/parking_add_icheck_events.js"></script>
<% 
var msg = getMessages();
if(msg.error && msg.error == 'edit_parking_error') { %>
    <script>alert('Pri urejanju parkirišča se je zgodila napaka! Preverite vse podatke in poskusite znova ali pa se obrnite na administratorja.');</script>
<% } %>