<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Parking list</h3>
        <div class="box-tools pull-right">
            <a href="/parking/add">
                <button type="button" class="btn btn-md btn-primary btn-flat pull-right">Add parking</button>
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <td>#</td>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Location</th>
                                <th>Provider</th>
                                <th>Status</th>
                                <th>Available</th>
                                <th>Occupancy</th>
                                <th>Free</th>
                                <th>Payment</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% parkings.forEach((parking, index) => {  %>

                                <tr role="row" class="odd">
                                    <td>
                                        <%= parking.id %>
                                            <!--<input type="checkbox" value="<%= parking.id %>" />-->
                                    </td>
                                    <td>
                                        <%= parking.name %>
                                    </td>
                                    <td>
                                        <%= parking.type %>
                                    </td>
                                    <td>
                                        <a href="https://maps.google.com?q=<%= parking.googleMapsQuery %>" target="_blank">
                                            <%= parking.addressData %>
                                        </a>
                                    </td>
                                    <td>
                                        <%= parking.provider %>
                                    </td>
                                    <td>
                                        <%= parking.status %>
                                    </td>
                                    <td>
                                        <%= parking.capacity %>
                                    </td>
                                    <td>
                                        <%= parking.occupancyPercent %>
                                    </td>
                                    <td>
                                        <%= parking.free %>
                                    </td>
                                    <td>
                                        <%= parking.paymentStatus %>
                                    </td>
                                    <td>
                                        <a href="/parking/edit/<%= parking.id %>">
                                            <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                        </a>

                                        <a href="/api/parking/delete/<%= parking.id %>" onclick="return confirm('Are you sure? Proceeding will delete parking \'<%= parking.name %>\'')">
                                            <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                        </a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Location</th>
                                <th>Provider</th>
                                <th>Status</th>
                                <th>Available</th>
                                <th>Occupancy</th>
                                <th>Free</th>
                                <th>Payment</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <a href="/parking/add" class="btn btn-md btn-primary btn-flat pull-left">Add parking</a>


        </div>
    </div>
    <!-- /.box-body -->

</div>

<script type="text/javascript">
    $(document).ready(function() {
        var table = $("#example1").DataTable({
            columnDefs: [
                /*{
                targets: [0],
                orderable: false
                },*/
                {
                    targets: [10],
                    orderable: false
                }
            ]
        });

        table
            .column('0')
            .order('asc')
            .draw();

    });
</script>