<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    <%= parkings.length %>
                </h3>

                <p>Parkings inserted</p>
            </div>
            <div class="icon">
                <i class="fa fa-car"></i>
            </div>
            <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

</div>

<h3>Parkings list</h3>
<div class="row">
    <% parkings.forEach(parking => {  %>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        <%= parking.name %>
                    </h3>


                    <p>
                        <% if(parking.occupancy) { %>
                            <%= parking.occupancy.occupiedSlots %> /
                                <%= parking.occupancy.allSlots %>
                                    <% } else {  %>
                                        no occupancy data
                                        <% } %>
                    </p>

                </div>
                <div class="icon">
                    <i class="fa fa-car"></i>
                </div>
                <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
            </div>

        </div>
        <% }) %>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            Add new
                        </h3>


                        <p>
                            add new parking
                        </p>

                    </div>
                    <div class="icon">
                        <i class="fa fa-plus"></i>
                    </div>
                    <a href="#" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
                </div>

            </div>
</div>



<div class="row">
    <div class="col-md-8">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Parkings map</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>

            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-12">
                        <style>
                            #map-canvas {
                                height: 300px;
                                margin: 0px;
                                padding: 0px
                            }
                        </style>
                        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAZAmcAH2gJYLTWOTppybeWspFBeCXJI1o"></script>
                        <script>
                            var map;



                            function initialize() {
                                var bounds = new google.maps.LatLngBounds();



                                var mapOptions = {
                                    zoom: 8
                                };
                                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                                <% parkings.forEach(parking => {  %>
                                var myLatLng = new google.maps.LatLng(<%= parking.lat %>, <%= parking.lng %>);
                                var marker = new google.maps.Marker({
                                    position: myLatLng,
                                    map: map,
                                    title: '<%= parking.name %>'
                                });
                                bounds.extend(myLatLng);
                                <% }) %>
                                map.fitBounds(bounds);
                            }

                            google.maps.event.addDomListener(window, 'load', initialize);
                        </script>
                        <div id="map-canvas"></div>
                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Prices</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Parking</th>
                            <th>Price</th>
                        </tr>
                        <% parkings.forEach((parking, index) => {  %>
                            <tr>
                                <td>
                                    <%= index+1 %>
                                </td>
                                <td>
                                    <%= parking.name %>
                                </td>
                                <td><span class="badge bg-green"><%= parking.price %> €/h</span></td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

        </div>

    </div>
    <!-- /.col -->
</div>

<form method="POST" action="/api/parking/create">

</form>
<button id="addNewParking">Add new parking</button>

<ul>
    <% parkings.forEach(parking => {  %>
        <li>
            <%= parking.name %>
        </li>
        <% }) %>
</ul>
<p>
    <pre id="json"><%= JSON.stringify(parkings, undefined, 2) %>  </pre>
</p>